<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
        <title>Overview</title>
</head>

<body class="error404">
    <header>

    </header>
    <main>
        <section>
            <h1>No matches.</h1>
            <h2>404 Error.</h2>
            <p>We cant find the page you're looking for.</p>
            <a href="/">Back To Swiping</a>
        </section>
    </main>
</body>

</html>