<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); -%>
</head>

<body>
    <h1>"Insert decent concept name here!"</h1>
     <h2>Are you sure you want to delete your account?</h2>
      <h3 >Your partner in crime is out there!</h3>

<a href="delete">Delete account</a>

    </main>
   
    <footer>
        <%- include('partials/footer'); -%>
    </footer>
</body>

</html>