<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); -%>
</head>

<body>
    <h1>"Insert decent concept name here!"</h1>
     <h2>Oooops you forgot your password..</h2>
      <h3>We will help you get it back!</h3>

            <ul class="options">
                <li>Verander wachtwoord</li>
                <li>Verwijder account</li>
                <li>Uitloggen</li>
            </ul>
    </main>
   
    <footer>
        <%- include('partials/footer'); -%>
    </footer>
</body>

</html>