<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/head.ejs") %>
    <title>Sign in — down to date</title>
  </head>
  <body class="signin">
    <header>
      <%- include ("partials/header.ejs") %>
    </header>
    <main>
      <h1>Welcome to Down to Date! </h1>
      <form action="/login" id="login" method="POST">
        <div>
          <label for="email">Email</label>
          <input type="email" placeholder="example@mail.com" name="email" />

          <label for="password">Password</label>
          <input type="password" placeholder="******" name="password" />
        </div>

        <div>
          <label>
            <input type="checkbox" checked="checked" name="remember" />
            Remember me
          </label>

          <button type="submit">Login</button>
          <div>
            <a href="registration">Registration</a>
          </div>
        </div>
      </form>
    </main>
  </body>
</html>