<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); -%>
</head>

<body>
    <h1>Down to Date</h1>
     <h2>You have succesfully created an account!</h2>
      <h3 >Get ready to find your partner in crime!</h3>

            <ul class="options">
                <li><a href="/changePassword">Change password</a></li>
                <li><a href="/delete">Delete account</a></li>
            </ul>
    </main>
   
    <footer>
        <%- include('partials/footer'); -%>
    </footer>
</body>

</html>